<title>Nikola Lohinski</title>
<style>
@media print {
    .doc .paragraph {
        margin: 0.5rem 0 0 !important;
    }
}
</style>
{{> head-info}}
{{> head-styles}}
{{> head-meta}}
{{> head-scripts}}
{{> head-icons}}