// Backgrounds
$default-background-color: #ccc;
$paper-background-color: linear-gradient(#fff, #f6f6f6);
$language-background-graph-color: #deedf8;
$tooltip-background-color: rgba(0, 0, 0, 0.75);
$darker-background-color: rgba(0,0,0,0.8);

// Fonts
$default-font-color: #666;
$darker-background-font-color: #fff;
$bold-font-color: #333;
$tooltip-font-color: #fff;

$link-font-color: #0070C9;
a {
  color: $link-font-color !important;
  text-decoration: none !important;
}

// Borders:
$default-border-color: #ddd;
$language-border-graph-color: #3e92d6;